@charset "utf-8";
html, body{
    width: 100%;
    height: 100%;
}

#gameOverlay{
}
#wrapper{}
#gameSection{
    /*background: url("/static/games/slots/sevens-on-fire/style/images/gwBackLand.jpg") repeat scroll center center rgba(0, 0, 0, 0);*/
    background: url("/static/games/slots/sevens-on-fire/style/images/back-pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;

    /*visibility: hidden;*/

    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
}
#gameSection.originalSize{}
#gameSection.scaledSize{}
/* Game Top */
#gT{}
/* Game Top End*/

/* Game Middle */
#gM{
    height: 521px;
    left: 50%;
    margin: 0 0 0 -378px;
    /*overflow: hidden;*/
    position: absolute;
    width: 756px;

    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

#barsArea{
    height: 100%;
    position: relative;
}
#barsHeader{
    position: absolute;
    top: 0;
    z-index: 3;
}
#barsHeader,
#stdHead,
#freeHead{
    height: 66px;
    width: 100%;
}

#stdHead,
#freeHead,
#barsSidesStd,
#barsSidesFree,
.stdSep,
.freeSep{
    left: 0;
    position: absolute;
    top: 0;

    -moz-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

#stdHead{
    background: url("/static/games/slots/sevens-on-fire/style/images/sevensOnFireLogo1.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    opacity: 1;
}
#freeHead{
    background: url("/static/games/slots/sevens-on-fire/style/images/sevensOnFireLogo1.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    opacity: 0;
}

.freeStt #stdHead{
    opacity: 0;
}
.freeStt #freeHead{
    opacity: 1;
}
#barsWrapper{
    height: 455px;
    left: 0;
    position: absolute;
    top: 66px;
    width: 100%;
    z-index: 2;
}
#barsSides{
    z-index: 2;
}
#barsSides,
#barsSidesStd,
#barsSidesFree,
#lLWr{
    height: 455px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#barsSidesStd{
    background: url("/static/games/slots/sevens-on-fire/style/images/backReels.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    opacity: 1;
}
#barsSidesFree{
    background: url("/static/games/slots/sevens-on-fire/style/images/backReels.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    opacity: 0;
}

.freeStt #barsSidesStd{
    opacity: 0;
}
.freeStt #barsSidesFree{
    opacity: 1;
}

#barsCanvasWr{
    height: 455px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 6px;
    width: 756px;
    z-index: 2;
}

.barsSeparator{
    display: none;
}
.stdSep, .freeSep{
    height: inherit;
    width: inherit;
}
.smpBr, .stdBrBck, .freeBrBck{
    height: 455px;
    position: absolute;
    top: 0;
    width: 151px;
}
.smpBr{
}
.stdBrBck{
    opacity: 1;
}
.freeBrBck{
    opacity: 0;
}

.freeStt .stdBrBck{
    opacity: 0;
}
.freeStt .freeBrBck{
    opacity: 1;
}

#fstBr{
    left: 0;
}
#sndBr{
    left: 151px;
}
#thdBr{
    left: 302px;
}
#frtBr{
    left: 453px;
}
#fthBr{
    left: 604px;
}

#fstSep{
}
#sndSep{
}
#thdSep{
}
#frhSep{
}
.stdSep{

}
.freeSep{

}

.freeStt .stdSep{

}
.freeStt .freeSep{

}
#barsCanvas{
    left: 0;
    position: absolute;
    top: 0;
}
#barsBot{
    top: 472px;
}
#barsBot,
#barsBotStd,
#barsBotFree{
    display: none;
}
#barsBotStd,
#barsBotFree{
    top: 0;
}
#barsBotStd{
}
#barsBotFree{
}
.freeStt #barsBotStd{

}
.freeStt #barsBotFree{

}
/* Game Middle End */

/* Game Bottom */
#gB{

}
#dP{

}
/* Game Bottom End */
/* Line Lamps */
#lLWr{
    z-index: 2;
    /*top: 82px;*/
    top: 0;
    background: url("/static/games/slots/sevens-on-fire/style/images/reelsBorderWthShadow.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

#lSLL,
#rSLL{
    position: absolute;
    top: 0;
    width: 41px;
    height: 100%;
}
#lSLL{
    /*left: -35px;*/
    left: 0;
}
#rSLL{
    right: 0;
    /*right: -44px;*/
}
@media all and (orientation:portrait) {
    #lSLL{
        left: 0;
    }
    #rSLL{
        right: -9px;
    }
}

.sLL{
    background: url("/static/games/slots/sevens-on-fire/style/images/lamps_sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 30px;
    position: absolute;
    width: 32px;
}
.sLLAct{}
.sLLACWR,
.sLLAC{
    height: 30px;
    width: 32px;
}
.sLLACWR{
    background: url("/static/games/slots/sevens-on-fire/style/images/lamps_sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.sLLAct .sLLACWR{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.sLLAC{
    display: none;
}
.sLLAct .sLLAC{
    color: #fff3ae;
    display: table-cell;
    font: 20px/100% MyriadPro-BoldCond,Tahoma,Geneva,sans-serif;
    height: 29px;
    text-align: center;
    vertical-align: middle;
    width: 34px;
}
#lL0{
    background-position: -32px 0;
}
#lL1{
    background-position: -64px 0;
}
#lL2{
    background-position: -96px 0;
}
#lL3{
    background-position: -128px 0;
}
#lL4{
    background-position: -160px 0;
}
#lL5{
    background-position: -192px 0;
}
#lL6{
    background-position: -224px 0;
}
#lL7{
    background-position: -256px 0;
}
#lL8{
    background-position: -288px 0;
}
#lL9{
    background-position: -320px 0;
}
#lL10{
    background-position: -352px 0;
}
#lL11{
    background-position: -384px 0;
}
#lL12{
    background-position: -416px 0;
}
#lL13{
    background-position: -448px 0;
}
#lL14{
    background-position: -480px 0;
}
#lL15{
    background-position: -512px 0;
}
#lL16{
    background-position: -544px 0;
}
#lL017{
    background-position: -576px 0;
}
#lL18{
    background-position: -608px 0;
}
#lL19{
    background-position: -640px 0;
}


/* Line Lamps End*/
/* Double Panel */
#gmbP{
    height: 455px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: 2;
}
#gmbPWr{
    background: url("/static/games/slots/sevens-on-fire/style/images/gwBackLand.jpg") repeat scroll center center rgba(0, 0, 0, 0);
    height: 455px;
    width: 756px;
    position: relative;
}
#gmbPT{
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#gmbA,
#gmbW{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 425px;
}
#gmbAStr,
#gmbACnt,
#gmbWStr,
#gmbWCnt,
#prevCStr,
#gmbWX2Str,
#gmbWX2Cnt{
    /*font: bold 20px/100% Palatino Linotype,Book Antiqua,Palatino,serif;*/

    color: #fff;
    font: bold 22px Geramond,Palatino Linotype, Book Antiqua3, Palatino, serif;
    text-shadow: 2px 0 1px #960a03, 2px 2px 1px #960a03, 0 2px 1px #960a03, -2px 2px 1px #960a03, -2px 0 1px #960a03, -2px -2px 1px #960a03, 0 -2px 1px #960a03, 2px -2px 1px #960a03;
}
#gmbAStr,
#gmbWStr,
#gmbWX2Str{
    color: #fff;
}

#gmbACnt,
#gmbWCnt,
#gmbWX2Cnt{
    color: #7eff00;
    font: 36px/100% MyriadPro-BoldCond,Tahoma,Geneva,sans-serif;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

#gmbA{

}

#gmbAStrWr, #gmbACntWr, #gmbWStrWr, #gmbWCntWr, #gmbWX2StrWr, #gmbWX2CntWr{
    display: table-cell;
    vertical-align: middle;
}
#gmbWStrWr, #gmbWCntWr,
#gmbWX2StrWr, #gmbWX2CntWr{
    width: 50%;
}
#gmbAStrWr{
    padding: 0 0 0 20px;
    width: 275px;
}
#gmbAStr{}
#gmbACntWr{}
#gmbACnt{}
#gmbW{}
#gmbWT{}
#gmbWStrWr{}
#gmbWStr{}
#gmbWCntWr{}
#gmbWCnt{}


#gmbWX2{}
#gmbWX2StrWr{}
#gmbWX2Str{}
#gmbWX2CntWr{}
#gmbWX2Cnt{}



#gmbPM{
    height: 200px;
    left: 0;
    position: absolute;
    top: 200px;
    width: 100%;
}
#gmbChsArRed{
    left: 43px;
}
#gmbChsArRed,
#gmbChsArBlack{
    height: 198px;
    left: 0;
    position: absolute;
    top: 0;
    width: 282px;
}

#gmbChsRC{
}

#gmbChsRC,
#gmbChsBC,
#gmbChsRCStrWr,
#gmbChsBCStrWr{
    background: url("/static/games/slots/roll-of-ramses/style/images/gamble/color-btn-sprite.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 200px;
    height: 147px;
}

#gmbChsRC,
#gmbChsBC{
    cursor: pointer;
    left: 41px;
    position: absolute;
    top: 99px;
}

.active #gmbChsRCStrWr:hover,
.active #gmbChsBCStrWr:hover{
    opacity: 1;
}

#gmbChsRCStrWr, .disabled #gmbChsRCStrWr,
#gmbChsBCStrWr, .disabled #gmbChsBCStrWr{
    opacity: .7;
}
#gmbChsRCStrWr{
    background-position: 0 -147px;
}
#gmbChsBCStrWr{
    background-position: 0 -294px;
}

#gmbChsBCStrWr,
#gmbChsRCStrWr{
    height: 100%;
    text-align: center;
    width: 100%;
}
.gmbChsCStr{
    font: bold 34px/147px Book Antiqua,Palatino Linotype,Palatino,serif;
    text-shadow: 1px 0 #fff, 1px 1px #fff, 0 1px #fff, -1px 1px #fff, -1px 0 #fff, -1px -1px #fff, 0 -1px #fff, 1px -1px #fff;
}
.gmbChsCStrSel{
    color: #fff;
    display: none;
    font: 24px/100% MyriadPro-Cond,Tahoma,Geneva,sans-serif;
    position: absolute;
    top: 28px;
    width: 100%;
    left: 0;
}
.sld .gmbChsCStrSel{
    display: block;
}
#gmbChsRCStrWr .gmbChsCStrSel{
    text-shadow: 1px 0 rgba(114,0,0, .6), 1px 1px rgba(114,0,0, .6), 0 1px rgba(114,0,0, .6), -1px 1px rgba(114,0,0, .6), -1px 0 rgba(114,0,0, .6), -1px -1px rgba(114,0,0, .6), 0 -1px rgba(114,0,0, .6), 1px -1px rgba(114,0,0, .6);

}
#gmbChsBCStrWr .gmbChsCStrSel{
    text-shadow: 1px 0 rgba(0,0,0, .6), 1px 1px rgba(0,0,0, .6), 0 1px rgba(0,0,0, .6), -1px 1px rgba(0,0,0, .6), -1px 0 rgba(0,0,0, .6), -1px -1px rgba(0,0,0, .6), 0 -1px rgba(0,0,0, .6), 1px -1px rgba(0,0,0, .6);
}
#gmbChsRCStrWr .gmbChsCStr{
    color: #D00000;
}
#gmbChsBCStrWr .gmbChsCStr{
    color: #000;
}
.gmbChsDisC{
    display: none;
}
.disabled .gmbChsDisC{
    background: url("/static/games/slots/roll-of-ramses/style/images/gamble/color-btn-mask.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: not-allowed;
    display: block;
    height: 147px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 1px;
    width: 200px;
}
#gmbChsResC{}

#gmbChsResC,
#gmbChsResCBack,
#gmbChsResCFront{
    height: 230px;
    width: 156px;
}

#gmbChsResC{
    left: 305px;
    position: absolute;
    top: 20px;
}

#gmbChsResC div{
    left: 0;
    position: absolute;
    top: 0;
}

#gmbChsResC .c0{

}
#gmbChsResC .c1{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/cardBig1.png") no-repeat scroll 0 0 transparent;
}
#gmbChsResC .c2{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/cardBig2.png") no-repeat scroll 0 0 transparent;
}
#gmbChsResC .c3{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/cardBig3.png") no-repeat scroll 0 0 transparent;
}
#gmbChsResC .c4{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/cardBig4.png") no-repeat scroll 0 0 transparent;
}

#gmbChsResCBack{}
#gmbChsResCFront.su0{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/cardBig0.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#gmbChsResCFront.su00{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/cardBig00.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.c0{}
.su0{}
#gmbChsArBlack{
    left: 474px;
}

#gmbChsBC{
}
#gmbChsBCStrWr{}




#gmbPB{
    height: 73px;
    left: 0;
    position: absolute;
    top: 120px;
    width: 100%;
}

#gmbPBLs{
    left: 0;
    width: 300px;
}
#gmbPBRs{
    right: 0;
    width: 456px;
}
#gmbPBLs,
#gmbPBRs{
    height: 73px;
    position: absolute;
    top: 0;
}

#gmbPBLsWr{
    height: 73px;
    width: 100%;
}
#prevCStrL,
#prevCStrM,
#prevCStrR{
    display: table-cell;
    height: 73px;
    text-align: center;
    vertical-align: middle;
}
#prevCStrL{
    width: 0;
}
#prevCStrM{
}
#prevCStrR{
    width: 0;
}
#prevCStr{
    padding: 0 10px;
}


#gmbPBRsWr{
    height: 73px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}
.prevCardItem{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/previousBackLayer.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: left;
    height: 73px;
    margin: 0 3px 0 0;
    width: 72px;
}
.c1 .prevCardItemFrame{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/cardSmall1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.c2 .prevCardItemFrame{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/cardSmall2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.c3 .prevCardItemFrame{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/cardSmall3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.c4 .prevCardItemFrame{
    background: url("/static/games/slots/sevens-on-fire/style/images/gamble/cardSmall4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.prevCardItemFrame{
    height: 73px;
    width: 72px;
}

#smlBtnHrts, #smlBtnDmnd, #smlBtnClbs, #smlBtnSpds,
#smlBtnHrtsWr, #smlBtnDmndWr, #smlBtnClbsWr, #smlBtnSpdsWr{
    background: url("/static/games/slots/roll-of-ramses/style/images/gamble/suitBtnBackStd.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 99px;
    width: 141px;
}
#smlBtnHrts, #smlBtnDmnd, #smlBtnClbs, #smlBtnSpds{
    position: absolute;
}
#smlBtnHrtsWr, #smlBtnDmndWr, #smlBtnClbsWr, #smlBtnSpdsWr{
    cursor: pointer;
    position: relative;
}
.active #smlBtnHrtsWr:hover,
.active #smlBtnDmndWr:hover,
.active #smlBtnClbsWr:hover,
.active #smlBtnSpdsWr:hover{
    background: url("/static/games/slots/roll-of-ramses/style/images/gamble/suitBtnBackHov.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.active #smlBtnHrtsWr:active,
.active #smlBtnDmndWr:active,
.active #smlBtnClbsWr:active,
.active #smlBtnSpdsWr:active{
    background: url("/static/games/slots/roll-of-ramses/style/images/gamble/suitBtnBackAct.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#smlBtnHrts .smlBtnChColDis,
#smlBtnDmnd .smlBtnChColDis,
#smlBtnClbs .smlBtnChColDis,
#smlBtnSpds .smlBtnChColDis{
    display: none;
}
#smlBtnHrts.disabled .smlBtnChColDis,
#smlBtnDmnd.disabled .smlBtnChColDis,
#smlBtnClbs.disabled .smlBtnChColDis,
#smlBtnSpds.disabled .smlBtnChColDis{
    background: url("/static/games/slots/roll-of-ramses/style/images/gamble/suit-btn-mask.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 99px;
    left: 0;
    position: absolute;
    top: 0;
    width: 141px;
    cursor: not-allowed;
}

#gmbChsArRedSBs{
    height: 99px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
#smlBtnHrtsWr{}
.smlBtnChColStr{
    display: block;
    height: 68px;
    width: 64px;
    position: absolute;
    top: 15px;
    left: 38px;
}
.smlBtnChColSel{

}
#smlBtnHrts .smlBtnChColSel,
#smlBtnDmnd .smlBtnChColSel,
#smlBtnClbs .smlBtnChColSel,
#smlBtnSpds .smlBtnChColSel{
    display: none;
}

#smlBtnHrts .sld .smlBtnChColSel,
#smlBtnDmnd .sld .smlBtnChColSel,
#smlBtnClbs .sld .smlBtnChColSel,
#smlBtnSpds .sld .smlBtnChColSel{
    display: block;
    font: 24px/99px MyriadPro-BoldCond,Tahoma,Geneva,sans-serif;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    height: 100%;
    opacity: .7;
    text-shadow:    1px 0 rgba(255, 255, 255, .8),
                    1px 1px rgba(255, 255, 255, .8),
                    0 1px rgba(255, 255, 255, .8),
                    -1px 1px rgba(255, 255, 255, .8),
                    -1px 0 rgba(255, 255, 255, .8),
                    -1px -1px rgba(255, 255, 255, .8),
                    0 -1px rgba(255, 255, 255, .8),
                    1px -1px rgba(255, 255, 255, .8);
}
#smlBtnHrts, #smlBtnClbs{
    left: 0;
}
#smlBtnDmnd, #smlBtnSpds{
    right: 0;
}
#smlBtnDmndWr{}
.smlBtnChColDis{}

#smlBtnHrts .smlBtnChColStr{
    background: url("/static/games/slots/roll-of-ramses/style/images/gamble/suit3.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#smlBtnDmnd .smlBtnChColStr{
    background: url("/static/games/slots/roll-of-ramses/style/images/gamble/suit4.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#smlBtnClbs .smlBtnChColStr{
    background: url("/static/games/slots/roll-of-ramses/style/images/gamble/suit2.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#smlBtnSpds .smlBtnChColStr{
    background: url("/static/games/slots/roll-of-ramses/style/images/gamble/suit1.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
/* Double Panel End*/

.pTIImg {
    background: none repeat scroll 0 0 rgba(47,38,84, 1);
}
.pTIAddInfo {
    background: none no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 0;
    position: absolute;
    top: 0;
    width: 0;
    left: 0;
}
.payTableItem.scatterSym {
    width: 432px;
}

@media not all and (orientation:portrait){
    #barsHeader, #stdHead, #freeHead {
        display: none;
    }
    #barsSides{
    }
    #lLWr,
    #gM{

    }
    #gM{
        height: 455px;
    }
    #barsWrapper{
        top: 0;
    }
    #barsCanvasWr{

    }
    #gmbP{

    }
    #lSLL {

    }
    #rSLL {

    }

    #lSLL{
        left: -35px;
    }
    #rSLL{
        right: -44px;
    }
}
