@charset "utf-8";
#brPHid{
    background: url("/static/resources/images/hide-bar/swipe-top-hand.png") no-repeat scroll center 350px rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 0;
    height: 1500px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-size: 207px 248px;
}

#brPHid.swipeUse{
    opacity: 1;
    z-index: 9999999;

    -webkit-animation-name: swipeHand;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: swipeHand;
    -moz-animation-duration: 1.5s;
    -moz-animation-timing-function: ease;
    -moz-animation-iteration-count: infinite;

    -o-animation-name: swipeHand;
    -o-animation-duration: 1.5s;
    -o-animation-timing-function: ease;
    -o-animation-iteration-count: infinite;

    -ms-animation-name: swipeHand;
    -ms-animation-duration: 1.5s;
    -ms-animation-timing-function: ease;
    -ms-animation-iteration-count: infinite;

    animation-name: swipeHand;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@-moz-keyframes swipeHand {
    0%{
        background-size: 414px 496px;
    }
    50%{
        background-position: center 350px;
        background-size: 207px 248px;
    }
    90%{background-position: center 0;}
    100%{background-position: center 0;}
}

@-webkit-keyframes swipeHand {
    0%{
        background-size: 414px 496px;
    }
    50%{
        background-position: center 350px;
        background-size: 207px 248px;
    }
    90%{background-position: center 0;}
    100%{background-position: center 0;}
}

@-o-keyframes swipeHand {
    0%{
        background-size: 414px 496px;
    }
    50%{
        background-position: center 350px;
        background-size: 207px 248px;
    }
    90%{background-position: center 0;}
    100%{background-position: center 0;}
}

@-ms-keyframes swipeHand {
    0%{
        background-size: 414px 496px;
    }
    50%{
        background-position: center 350px;
        background-size: 207px 248px;
    }
    90%{background-position: center 0;}
    100%{background-position: center 0;}
}

@keyframes swipeHand {
    0%{
        background-size: 414px 496px;
    }
    50%{
        background-position: center 350px;
        background-size: 207px 248px;
    }
    90%{background-position: center 0;}
    100%{background-position: center 0;}
}