@charset "utf-8";
html, body{
    width: 100%;
    height: 100%;
}

#gameOverlay{
}
#wrapper{}
#gameSection{
    height: 100%;
    width: 100%;

    /*visibility: hidden;*/

    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;

    background: url("/static/games/slots/hot-slot/style/images/back-pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#gameSection.originalSize{}
#gameSection.scaledSize{}
/* Game Top */
#gT{}
/* Game Top End*/

/* Game Middle */
#gM{
    height: 578px;
    left: 50%;
    margin: 0 0 0 -415px;
    overflow: hidden;
    position: absolute;
    width: 830px;

    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

#barsArea{
    height: 100%;
    position: relative;
}
#barsHeader{
    background: url("/static/games/slots/hot-slot/style/images/head.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 0;
    position: absolute;
    top: 0;
    z-index: 3;
}
#barsHeader,
#stdHead,
#freeHead{
    height: 95px;
    width: 100%;
}
#stdHead,
#freeHead,
#barsSidesStd,
#barsSidesFree,
.stdSep,
.freeSep{
    position: absolute;
    top: 0;
    left: 0;

    -moz-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    -webkit-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

#stdHead{
    opacity: 1;
    top: 0;
}
#freeHead{}

.freeStt #stdHead{}
.freeStt #freeHead{
    opacity: 1;
    top: 0;
}
#barsWrapper{
    height: 483px;
    left: 0;
    position: absolute;
    top: 95px;
    width: 100%;
    z-index: 2;
}
#barsSides{
    z-index: 2;
}
#barsSides,
#barsSidesStd,
#barsSidesFree,
#lLWr{
    height: 483px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#barsSidesStd{
    opacity: 1;
}
#barsSidesFree{
    opacity: 0;
}

.freeStt #barsSidesStd{
    opacity: 0;
}
.freeStt #barsSidesFree{
    opacity: 1;
}

#barsCanvasWr{
    background: rgba(0, 0, 0, 0) url("/static/games/slots/hot-slot/style/images/bars-back.png") no-repeat scroll 0 0;
    height: 483px;
    left: 74px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 676px;
    z-index: 2;
}

.barsSeparator{
    display: none;
}
.stdSep, .freeSep{}
.smpBr, .stdBrBck, .freeBrBck{
    display: none;
}
.smpBr{}
.stdBrBck{}
.freeBrBck{}
.freeStt .stdBrBck{}
.freeStt .freeBrBck{}
#fstBr{}
#sndBr{}
#thdBr{}
#frtBr{}
#fthBr{}

#fstSep{}
#sndSep{}
#thdSep{}
#frhSep{}
.stdSep{}
.freeSep{}
.freeStt .stdSep{}
.freeStt .freeSep{}
#barsCanvas{
    left: 26px;
    position: absolute;
    top: 34px;
}
#barsBot{
}
#barsBot,
#barsBotStd,
#barsBotFree{
    display: none;
}
#barsBotStd,
#barsBotFree{
}
#barsBotStd{

}
#barsBotFree{
}
.freeStt #barsBotStd{
}
.freeStt #barsBotFree{
}
/* Game Middle End */

/* Game Bottom */
#gB{

}
#dP{

}
/* Game Bottom End */
/* Line Lamps */
#lLWr{
    z-index: 2;
    /*top: 82px;*/
    top: 0;
}

#lSLL,
#rSLL{
    position: absolute;
    top: 0;
    width: 73px;
    height: 100%;
}
#lSLL{
    left: 10px;
}
#rSLL{
    right: 10px;
}
.sLL{
    background: url("/static/games/slots/hot-slot/style/images/line-lamp.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    position: absolute;
}
.sLLAct{}
.sLLACWR,
.sLLAC,
.sLL{
    height: 33px;
    width: 73px;
}
.sLLACWR{
    background: url("/static/games/slots/hot-slot/style/images/line-lamp-off.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.sLLAct .sLLACWR{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.sLLAC{
    display: none;
}
.sLLAct .sLLAC{
    color: #000;
    display: table-cell;
    font: 30px/100% Verdana,Geneva,sans-serif;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}
#lL0{}
#lL1{}
#lL2{}
#lL3{}
#lL4{}
#lL5{}
#lL6{}
#lL7{}
#lL8{}
#lL9{}
#lL10{}
#lL11{}
#lL12{}
#lL13{}
#lL14{}
#lL15{}
#lL16{}
#lL17{}
#lL18{}
#lL19{}
/* Line Lamps End*/





/* Double Panel */
#gmbPWr{
    background: rgba(0, 0, 0, 0) url("/static/games/slots/book-of-winners/style/images/gamble/back.png") no-repeat scroll 0 0;
    height: 405px;
    width: 826px;
}
#gmbP{
    background: rgba(0, 0, 0, 0) url("/static/games/slots/hot-slot/style/images/back-pattern.png") repeat scroll 0 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 2px;
    top: 27px;
    width: 0;
    z-index: 2;
    border-radius: 14px;
}
#gmbPT,
#gmbPM,
#gmbPB{
    position: absolute;
    width: 826px;
}
#gmbPT{
    top: 20px;
}
#gmbPM{
    height: 227px;
    top: 85px;
}
#gmbPB{}

#gmbAStr, #gmbACnt, #gmbWStr, #gmbWCnt, #gmbWX2Str, #gmbWX2Cnt{
    color: #fff568;
    font: bold 22px Book Antiqua,Palatino Linotype,Palatino,serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
#gmbA,
#gmbW{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 401px;
}
#gmbAStrWr, #gmbACntWr, #gmbWStrWr, #gmbWCntWr, #gmbWX2StrWr, #gmbWX2CntWr{
    display: table-cell;
    vertical-align: middle;
    width: 200px;
}

#gmbChsArRed{
    left: 25px;
}
#gmbChsArBlack{
    right: 20px;
}
#gmbChsArRed,
#gmbChsArBlack{
    height: 165px;
    position: absolute;
    top: 25px;
    width: 275px;
}

#gmbChsRC{
}

#gmbChsRC,
#gmbChsBC,
#gmbChsRCStrWr,
#gmbChsBCStrWr,
.disabled .gmbChsDisC{
    height: 71px;
    width: 275px;
}

#gmbChsRC,
#gmbChsBC{
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
}

.active #gmbChsRCStrWr:hover,
.active #gmbChsBCStrWr:hover{
}

#gmbChsRCStrWr, .disabled #gmbChsRCStrWr,
#gmbChsBCStrWr, .disabled #gmbChsBCStrWr{
}
#gmbChsRCStrWr{
    /*background-position: 0 -147px;*/
}
#gmbChsBCStrWr{
    /*background-position: 0 -294px;*/
}

#gmbChsBCStrWr,
#gmbChsRCStrWr{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/colorBtnStd.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    text-align: center;
    width: 100%;
}
.active #gmbChsRCStrWr:active,
.active #gmbChsBCStrWr:active{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/colorBtnAct.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.active #gmbChsBCStrWr:active .gmbChsCStr,
.active #gmbChsRCStrWr:active .gmbChsCStr{
    position: relative;
    top: 3px;
    left: 2px;
}

.gmbChsCStr{
    font: bold 34px/71px Book Antiqua,Palatino Linotype,Palatino,serif;
    text-shadow: 1px 0 #fff, 1px 1px #fff, 0 1px #fff, -1px 1px #fff, -1px 0 #fff, -1px -1px #fff, 0 -1px #fff, 1px -1px #fff;
}
.gmbChsCStrSel{
    color: #fff;
    display: none;
    font: 24px/100% MyriadPro-Cond,Tahoma,Geneva,sans-serif;
    position: absolute;
    top: 10px;
}
.sld .gmbChsCStrSel{
    display: block;
}
#gmbChsRCStrWr .gmbChsCStrSel{
    text-shadow: 1px 0 rgba(114,0,0, .6), 1px 1px rgba(114,0,0, .6), 0 1px rgba(114,0,0, .6), -1px 1px rgba(114,0,0, .6), -1px 0 rgba(114,0,0, .6), -1px -1px rgba(114,0,0, .6), 0 -1px rgba(114,0,0, .6), 1px -1px rgba(114,0,0, .6);
    right: 10px;

}
#gmbChsBCStrWr .gmbChsCStrSel{
    text-shadow: 1px 0 rgba(0,0,0, .6), 1px 1px rgba(0,0,0, .6), 0 1px rgba(0,0,0, .6), -1px 1px rgba(0,0,0, .6), -1px 0 rgba(0,0,0, .6), -1px -1px rgba(0,0,0, .6), 0 -1px rgba(0,0,0, .6), 1px -1px rgba(0,0,0, .6);
    left: 10px;
}
#gmbChsRCStrWr .gmbChsCStr{
    color: #D00000;
}
#gmbChsBCStrWr .gmbChsCStr{
    color: #000;
}

.gmbChsDisC{
    display: none;
}
.disabled .gmbChsDisC{
    cursor: not-allowed;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}
#gmbChsResC{}

#gmbChsResC,
#gmbChsResCBack,
#gmbChsResCFront{
    height: 227px;
    width: 158px;
}

#gmbChsResC{
    left: 340px;
    position: absolute;
    top: 0;
}

#gmbChsResC div{
    left: 0;
    position: absolute;
    top: 0;
}

#gmbChsResC .c0{

}
#gmbChsResC .c1{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/cardBig1.png") no-repeat scroll 0 0 transparent;
}
#gmbChsResC .c2{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/cardBig2.png") no-repeat scroll 0 0 transparent;
}
#gmbChsResC .c3{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/cardBig3.png") no-repeat scroll 0 0 transparent;
}
#gmbChsResC .c4{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/cardBig4.png") no-repeat scroll 0 0 transparent;
}

#gmbChsResCBack{}
#gmbChsResCFront.su0{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/cardBig0.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#gmbChsResCFront.su00{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/cardBig00.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.c0{}
.su0{}


#gmbChsBC{
}
#gmbChsBCStrWr{}




#gmbPB{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/prevCardsBackLayer.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 25px;
    height: 61px;
    left: 60px;
    width: 711px;
}

#gmbPBLs{
    left: 0;
    width: 300px;
}
#gmbPBRs{
    right: 0;
    width: 411px;
}
#gmbPBLs,
#gmbPBRs{
    height: 61px;
    position: absolute;
    top: 0;
}

#gmbPBLsWr{
    height: 61px;
    width: 100%;
}
#prevCStrL,
#prevCStrM,
#prevCStrR{
    display: table-cell;
    height: 61px;
    text-align: center;
    vertical-align: middle;
}
#prevCStrL{
    width: 0;
}
#prevCStrM{
}
#prevCStrR{
    width: 0;
}
#prevCStr{
    padding: 0 10px;
    color: #000;
    font: bold 20px/100% Book Antiqua,Palatino Linotype,Palatino,serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}


#gmbPBRsWr{
    height: 61px;
    overflow: hidden;
    width: 411px;
}
.prevCardItem{
    float: left;
    height: 61px;
    margin: 0 4px;
    width: 32px;
}
.c1 .prevCardItemFrame{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/historyCardsSmallColor1.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.c2 .prevCardItemFrame{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/historyCardsSmallColor2.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.c3 .prevCardItemFrame{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/historyCardsSmallColor3.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.c4 .prevCardItemFrame{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/historyCardsSmallColor4.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.prevCardItemFrame{
    height: 61px;
    width: 32px;
}

#smlBtnHrts, #smlBtnDmnd, #smlBtnClbs, #smlBtnSpds,
#smlBtnHrtsWr, #smlBtnDmndWr, #smlBtnClbsWr, #smlBtnSpdsWr, .smlBtnChColStr, .smlBtnChColDis{
    height: 77px;
    width: 115px;
}
#smlBtnHrts, #smlBtnDmnd, #smlBtnClbs, #smlBtnSpds{
    position: absolute;
}
#smlBtnHrtsWr, #smlBtnDmndWr, #smlBtnClbsWr, #smlBtnSpdsWr{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/colorCardBackStd.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
}
.active #smlBtnHrtsWr:hover,
.active #smlBtnDmndWr:hover,
.active #smlBtnClbsWr:hover,
.active #smlBtnSpdsWr:hover{
    /*background: url("/static/games/slots/roll-of-ramses/style/images/gamble/suitBtnBackHov.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
}

.active #smlBtnHrtsWr:active,
.active #smlBtnDmndWr:active,
.active #smlBtnClbsWr:active,
.active #smlBtnSpdsWr:active{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/colorCardBackAct.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#smlBtnHrts .smlBtnChColDis,
#smlBtnDmnd .smlBtnChColDis,
#smlBtnClbs .smlBtnChColDis,
#smlBtnSpds .smlBtnChColDis{
    display: none;
}
#smlBtnHrts.disabled .smlBtnChColDis,
#smlBtnDmnd.disabled .smlBtnChColDis,
#smlBtnClbs.disabled .smlBtnChColDis,
#smlBtnSpds.disabled .smlBtnChColDis{
    cursor: not-allowed;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}

#gmbChsArBlackSBs,
#gmbChsArRedSBs{
    height: 77px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#smlBtnHrtsWr{}
.smlBtnChColStr{
    display: block;
    position: absolute;
}
.smlBtnChColSel{

}
#smlBtnHrts .smlBtnChColSel,
#smlBtnDmnd .smlBtnChColSel,
#smlBtnClbs .smlBtnChColSel,
#smlBtnSpds .smlBtnChColSel{
    display: none;
}

#smlBtnHrts .sld .smlBtnChColSel,
#smlBtnDmnd .sld .smlBtnChColSel,
#smlBtnClbs .sld .smlBtnChColSel,
#smlBtnSpds .sld .smlBtnChColSel{
    display: block;
    font: 24px/71px MyriadPro-BoldCond,Tahoma,Geneva,sans-serif;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    text-shadow: 1px 0 rgba(255, 255, 255, 0.8), 1px 1px rgba(255, 255, 255, 0.8), 0 1px rgba(255, 255, 255, 0.8), -1px 1px rgba(255, 255, 255, 0.8), -1px 0 rgba(255, 255, 255, 0.8), -1px -1px rgba(255, 255, 255, 0.8), 0 -1px rgba(255, 255, 255, 0.8), 1px -1px rgba(255, 255, 255, 0.8);
    top: 0;
    width: 100%;
}
#smlBtnHrts, #smlBtnClbs{
    left: 10px;
}
#smlBtnDmnd, #smlBtnSpds{
    right: 10px;
}
#smlBtnDmndWr{}
.smlBtnChColDis{}

#smlBtnHrts .smlBtnChColStr{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/smallCardColor3.png") no-repeat scroll 27px 9px rgba(0, 0, 0, 0);
}
#smlBtnDmnd .smlBtnChColStr{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/smallCardColor4.png") no-repeat scroll 27px 9px rgba(0, 0, 0, 0);
}
#smlBtnClbs .smlBtnChColStr{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/smallCardColor2.png") no-repeat scroll 27px 9px rgba(0, 0, 0, 0);
}
#smlBtnSpds .smlBtnChColStr{
    background: url("/static/games/slots/scatter-wins/style/images/gamble/smallCardColor1.png") no-repeat scroll 27px 9px rgba(0, 0, 0, 0);
}
#gmbPWr .active .smlBtnChColStr:active{
    background-position: 30px 12px;
}
/* Double Panel End*/

/* Pay Table */
.sctAddInfWr{
    display: table-cell;
    width: 264px;
    height: 174px;
    vertical-align: middle;
}
.pTIFrGmStr1,.pTIFrGmStr2,.pTIFrGmCnt{
    font: bold 26px/100% MyriadPro-BoldCond,Tahoma,Geneva,sans-serif;
    color: rgba(255, 255, 255, 1);
}
.pTIFrGmCnt{
    color: rgba(233, 92, 251, 1);
    font-size: 44px;
}

.pTIFrGmStr1{
    color: rgba(164, 255, 89, 1);
}

.pTIImg{
}
.symAddInfoWr{
    color: rgba(255, 255, 255, 1);
    font: bold 26px/100% MyriadPro-BoldCond,Tahoma,Geneva,sans-serif;
}
.symAddInfoWr{
    display: table-cell;
    height: 172px;
    vertical-align: middle;
    width: 264px;
    padding: 0 15px;
}

/* Pay Table */

@media not all and (orientation:portrait){
    #barsHeader, #stdHead, #freeHead {
        display: none;
    }
    #barsSides{
        display: none;
    }
    #lLWr,
    #gM{
        height: 483px;
        width: 830px;
    }
    #gM{
        margin: 0 0 0 -415px;
    }
    #barsWrapper{
        height: 483px;
        top: 0;
    }
    #barsCanvasWr{}
    #gmbP{}
    #lSLL {}
    #rSLL {}
}